        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div id="body-outer-container">
			<div id="body-inner-container">
				<img class="glamor" src="{{ settings.themeUrl }}/images/header-glamor.png" />
				<img class="logo" src="{{ settings.themeUrl }}/images/midworld.png" />
				<div id="body-content"></div>
				<div>
					<img style="width: 15px; height: 16px;" src="{{ settings.themeUrl }}/images/user.png" />
				</div>
			</div>
        </div>
		<div id="body-footer-container">
{% if content.isUserLoggedIn %}
			<div class="user">
				<ul class="tagline">
	{% if content.showAvatar %}
					<li class="avatar"><em></em><span>{% autoescape false %}{{ content.avatarImageHtml }}{% endautoescape %}</span></li>
	{% endif %}
					<li{{ ((content.showAvatar) ? ' class="last"' : '')|raw }}><em></em><span>{{ content.username }}<br>{{ content.primaryGroupName }}</span></li>
				</ul>
			</div>
{% endif %}
			<ul class="tagline">
				<li>Tied the Leader</li>
				<li>Good Game Network</li>
			</ul>
			<ul class="tagline">
				<li>Credits</li>
			</ul>
		</div>