<div class="navigate_section">
	<ul>
{% for tree in linktree  %}
		<li{{ ((loop.index == loop.length) ? ' class="last"' : '')|raw}}>{{ ((tree.extra_before is defined and tree.extra_before is not empty) ? tree.extra_before : '')|raw }}
	{% if settings.linktreeLink and tree.url is defined and tree.url is not empty %}
			<a href="{{ tree.url }}"><span>{{ tree.name }}</span></a>
	{% else %}
			<span>{{ tree.name }}</span>
	{% endif %}
			{{ ((tree.extra_after is defined and tree.extra_after is not empty) ? tree.extra_after : '')|raw }}{{ ((loop.index != loop.length) ? ' &#187;' : '')|raw }}
		</li>
{% endfor %}
	</ul>
</div>